<div class="jumbotron text-white">
    <h2 class="display-4 text-center">Got an email!</h2>
    <p class="lead">Hi {{ name }}!</p>
    <hr class="my-4">
    <p>Operation created: {{ operation }}.</p>
    <p class="lead text-center">
        <a class="btn btn-primary btn-lg" 
        href="{{ url('homepage') }}" 
        role="button">Go to Operations App</a>
    </p>
</div>